# Common
node_modules/
.env
.env.*
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Backend/lebonprof.db
Backend/lebonprof.db-journal
Backend/logs/


frontend/dist/
frontend/dist-ssr/
frontend/dist-electron/
frontend/release/
frontend/electron-builder.json5
