/* CourseInformation.css */

.course-information {
    margin-left: 250px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.course-title {
    color: #333;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.professor-name {
    color: #262377;
    margin-bottom: 0.25em;
    font-size: 1.5em;
}

.students-section {
    margin-top: 20px;
}

.students-heading {
    color: #533c08;
    margin-bottom: 1em;
    font-size: 1.25em;
}

.students-list {
    list-style: none;
    padding: 0;
}

.student-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.student-item:hover {
    background-color: #e6e6e6;
}
